# Torch
torch==2.8.0+cpu
torchaudio==2.8.0+cpu

# 音頻處理後端 (torchaudio依賴)
soundfile==0.13.1

# Jupyter
jupyter==1.1.1
ipython==9.4.0

# 數據
numpy==2.3.2
pandas==2.3.2
scikit-learn==1.7.1

# 可視化
matplotlib==3.10.5

# 超參數優化
optuna==4.1.0

# 輔助工具
tqdm==4.67.1
colorama==0.4.6
PyYAML==6.0.2

# 圖像處理
pillow==11.3.0